<!--<p>{{noAuthenticator}}</p>-->

<div class="authenticator-detail">
  <div class="content-center authenticator-icon-container">
    <img class="authenticator-icon" src="/public/img/authenticator-computer.svg" alt="authenticator" />
  </div>
  <div class="authenticator-description-container">
    <div>
      <div class="mdc-typography--body2">Mac OS X</div>
      <div class="mdc-typography--caption">Last Used: February 10 2021, 12:18 AM</div>
    </div>
  </div>
  <div class="authenticator-action-container">
    <button id="edit-authenticator" class="mdc-button mdc-button--raised">
      <div class="mdc-button__ripple"></div>
      <i class="material-icons mdc-button__icon" aria-hidden="true">mode_edit</i>
      <span class="mdc-button__label"></span>
    </button>
  </div>
</div>

