<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.png" type="image/png">
  <link rel="icon" sizes="32x32" href="favicon-32.png" type="image/png">
  <link rel="icon" sizes="64x64" href="favicon-64.png" type="image/png">
  <link rel="icon" sizes="96x96" href="favicon-96.png" type="image/png">
  <link rel="icon" sizes="196x196" href="favicon-196.png" type="image/png">
  <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
  <meta name="msapplication-TileImage" content="favicon-144.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">

  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
</head>
<body>
<!--  app start -->
{{{body}}}
<!--  app end -->
</body>
</html>
