<div id="webauthn-dialog-{{#if isRegister}}register{{/if}}{{#if isEdit}}edit{{/if}}{{#if isVerify}}verify{{/if}}" class="mdc-dialog">
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface"
         role="alertdialog"
         aria-modal="true"
         aria-labelledby="webauthn-dialog-title"
         aria-describedby="webauthn-dialog-content">
      {{#if isRegister}}
        {{>webauthn-dialog-register}}
      {{/if}}
      {{#if isEdit}}
        {{>webauthn-dialog-edit}}
      {{/if}}
      {{#if isVerify}}
        {{>webauthn-dialog-verify}}
      {{/if}}
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>
